body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


/* Header */


header .container{
    max-width: 940px;
    height: 89px;
    width: 100%; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

header{
    background-color: #2d303a;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

.logo span{
    color: #f06c64;
}

nav{
    margin-top: 38px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    transition: 0.15s color linear;
    position: relative;
}

nav ul li a::after{
    content: ".";
    display: block;
    position: absolute;
    bottom: 3px;
    left: -16px;
    color: #494e62;
}

.active{
    color: #f06c64;
}

.active::after{
    display: none;
}

nav ul li:not(:first-child){
    margin: 0;
    margin-left: 25px;
}

nav ul li a:hover{
    color: #f06c64;
}

.header-line{
    height: 6px;
    width: 100%;
    background-color: #323746;
}


/* Slider */


.slider {
    background-color: #f06c64;
    height: 600px;
    width: 100%;
}

.slider .container{
    max-width: 1020px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.slider-btn{
    background-color: #f06c64;
    border: 0;
    outset: 0;
    cursor: pointer;
    width: 16px;
    height: 27px;
    transition: opacity 0.1s linear;
}

.slider-btn:hover{
    opacity: 0.5;
}

button.left{
    position: absolute;
    top: 281px;
    left: 35px;
}

button.right{
    position: absolute;
    top: 282px;
    right: 34px;
    transform: rotate(180deg);
}

.iphone-vertical{
    margin-top: 53px;
    margin-left: 111px;
    width: 240px;
    height: 483px;
}

.iphone-horizontal{
    right: 111px;
    top: 174px;    
    width: 484px;
    height: 240px;
    position: absolute;
}