/* Fonts */

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'),
         url('assets/fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('assets/fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('assets/fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('assets/fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


/* Header */


header .container{
    max-width: 940px;
    height: 89px;
    width: 100%; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #2d303a;
}

.logo h1{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

.logo h1 span{
    color: #f06c64;
}

nav{
    margin-top: 38px;
    margin-left: -2px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    transition: 0.15s color linear;
    position: relative;
}

nav ul li a::after{
    content: ".";
    display: block;
    position: absolute;
    bottom: 3px;
    left: -16px;
    color: #494e62;
}

.active{
    color: #f06c64;
}

.active::after{
    display: none;
}

nav ul li:not(:first-child){
    margin: 0;
    margin-left: 25px;
}

nav ul li a:hover{
    color: #f06c64;
}

.header-line{
    height: 6px;
    width: 1020px;
    margin: 0 auto;
    background-color: #323746;
}


/* Slider */


.slider {
    height: 594px;
    width: 100%;
}

.slider .container{
    background-color: #f06c64;
    max-width: 1020px;
    width: 100%;
    height: 594px;
    margin: 0 auto;
    position: relative;
}

.slider-btn{
    background-color: #f06c64;
    border: 0;
    cursor: pointer;
    width: 16px;
    height: 27px;
    transition: opacity 0.1s linear;
}

.slider-btn:hover{
    opacity: 0.5;
}

button.left{
    position: absolute;
    top: 281px;
    left: 42px;
}

button.right{
    position: absolute;
    top: 281px;
    right: 40px;
    transform: rotate(180deg);
}

.iphone-vertical{
    margin-top: 53px;
    margin-left: 112px;
    width: 240px;
    height: 483px;
}

.iphone-horizontal{
    right: 111px;
    top: 174px;    
    width: 484px;
    height: 240px;
    position: absolute;
}

.slider-line{
    height: 6px;
    width: 1020px;
    margin: 0 auto;
    background-color: #ea676b;
}


/* Services */


.services{
    height: 494px;
    width: 100%;
}

.services .container{
    background-color: #f2f2f2;
    max-width: 940px;
    width: 100%;
    height: 380px;
    margin: 0 auto;
    padding-top: 60px;
    padding: 60px 40px 54px 40px;
}

.services h2{
    font-weight: 900;
    color: #666d89;
    font-size: 30px;
    letter-spacing: 0px;
    margin-bottom: 18px;
}

.services-sub-head{
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 46px;
}

.services-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.service-item{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.service-item img{
    margin-right: 20px;
}

.service-item:nth-child(n-3){
    margin-bottom: 22px;
}

.service-item h3{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    margin-left: 1px;
    font-weight: 900;
    color: #666d89;
}

.service-item p{
    font-size: 12px;
    line-height: 21px;
    margin-top: 7px;
    width: 220px;
    height: 63px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    margin-left: 2px;
    color: #767e9e;
    overflow-block: hidden;

}

.services-line{
    height: 6px;
    width: 1020px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* Portfolio */

.portfolio{
    max-width: 940px;
    width: 100%;
    height: 804px;
    margin: 0 auto;
    background-color: #2d303a;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
}

.portfolio h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 18px;
}

.portfolio p{
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 9px;
}

.tags-container{
    margin: 0;
    padding: 0;
    margin-bottom: 19px;
}

.tags-container button{
    color: #767e9e;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    border: 1px solid #767e9e;
    border-radius: 5px;
    background-color: #2d303a;
    cursor: pointer;
}

.tags-container button:first-child{
    padding: 4px 7px;
}

.tags-container button:nth-child(2){
    padding: 5px;
    margin-left: 9px;
}

.tags-container button:nth-child(3){
    padding: 5px 4px;
    margin-left: 8px;
}

.tags-container button:last-child{
    padding: 5px 6px;
    margin-left: 7px;
}

.tags-container button:hover{
    color: #dedede;
    border-color: #dedede;
}

.tags-container .tag-selected{
    color: #dedede;
    border-color: #dedede;
}

.four-column-layout{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 940px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    overflow: hidden;
}

.four-column-layout li img{
    width: 220px;
    height: 187px;
}

.four-column-layout li:not(:nth-child(4n)){
    margin-right: 20px;
}

.four-column-layout li:not(:nth-child(n+8)){
    margin-bottom: 17px;
}

.four-column-layout li:nth-child(5){
    margin-bottom: 17px;
}

.four-column-layout li:nth-child(6){
    margin-bottom: 17px;
}

.four-column-layout li:nth-child(7){
    margin-bottom: 17px;
}

.four-column-layout li:nth-child(8){
    margin-bottom: 17px;
}

.portfolio-line{
    height: 6px;
    width: 1020px;
    margin: 0 auto;
    background-color: #323746;
}


/* About Us */


.about-us{
    height: 604px;
    max-width: 940px;
    padding: 62px 40px;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.three-column-layout{
    display: flex;
    flex-direction: row;
}

.about-us h2{
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    margin-bottom: 18px;
    margin-top: -3px;
}

.about-us p{
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #767e9e;
    margin-bottom: 45px;
    text-align: justify;
}

.about-us__member .first-member-description{
    word-spacing: -1px;
}

.about-us__member:not(:last-child){
    margin-right: 20px;
}

.about-us__member h3{
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
    margin-top: 14px;
    margin-bottom: 10px;
    max-width: 300px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.about-us__member p{
    max-width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    margin-bottom: 22px;
    text-align: justify;
}

.about-us__social-buttons ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-us__social-buttons ul li a:not(:first-child){
    margin-left: 5px;   
}

.about-us__social-buttons ul li a:hover{
    opacity: 0.5;
}

.about-us-line{
    width: 1020px;
    height: 6px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* Get a quote */

.form{
    width: 940px;
    padding: 51px 40px 3px;
    background-color: #f06c64;
    margin: 0 auto;
}

.form h2{
    font-weight: 900;
    font-size: 30px;
    color: #f0d8d9;
    margin-bottom: 20px;
    margin-top: 7px;
}

.form h2 + p{
    font-weight: 300;
    font-size: 18px;
    color: #f0d8d9;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 43px;
}

form{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 428px;
}

form input{
    height: 8px;
    margin-bottom: 16px;
}

form input,
form textarea{
    padding: 15px;
    border-radius: 4px;
    background-color: #d6564f;
    border: none;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

form textarea{
    height: 200px;
    padding-top: 10px;
}

form input::placeholder,
form textarea::placeholder{
    color: #f48c8f;
    font-size: 12px;
}

form textarea{
    resize: none;
}

form .submit{
    color: #f48c8f;
    background-color: #d6564f;
    font-weight: 600;
    margin: 0;
    align-self: flex-end;
    width: 100px;
    height: 50px;
    padding: 15px;
    margin-top: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-out;
    transition: color 0.2s ease-out;
    font-family: 'Lato', sans-serif;
}

form .submit:hover{
    background-color: #f0d8d9;
    color: #d6564f;
}

.form-container{
    display: flex;
    flex-direction: row;
}

.ContactInfo{
    width: 300px;
    height: 195px;
    margin-left: 20px;
}

.ContactInfo h3{
    font-weight: 900;
    margin-top: -2px;
    font-size: 18px;
    color: #f0d8d9;
    margin-bottom: 7px;
}

.ContactInfo h3 + p{
    font-size: 12px;
    line-height: 21.56px;
    font-weight: normal;
    text-align: justify;
    word-spacing: -1px;
    color: #f0d8d9;
    margin-bottom: 29px;
}

.contact-details{
    color: #f0d8d9;
    line-height: 12px;
    font-size: 12px;
    margin-left: 2px;
}

.contact-details a{
    color: #f0d8d9;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

.contact-details a:hover{
    text-decoration: underline;
    color: #ffbbaa;
}

.contact-details p:first-child{
    margin-bottom: 8px;
}

.contact-details p:nth-child(2){
    margin-bottom: 10px;
}

.contact-details span{
    display: inline-block;
}

.contact-location{
    width: 13px;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    vertical-align: middle;
    height: 11px;
    margin-right: 9px;
    background-image: url("assets/image/form/location.png");
}

.contact-phone{
    width: 13px;
    height: 11px;
    margin-right: 9px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-image: url("assets/image/form/phone.png");
}

.contact-mail{
    width: 13px;
    height: 11px;
    vertical-align: middle;
    margin-right: 9px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-image: url("assets/image/form/mail.png");
}

.form-line{
    height: 6px;
    background-color: #ea676b;
    width: 1020px;
    margin: 0 auto;
}

/* Footer */


footer{
    height: 76px;
    width: 940px;
    margin: 0 auto;
    padding: 0 40px;
    color: #797b86;
    font-size: 12px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .copyright{
    margin-left: 1px;
}

.footer-social a:not(:last-child){
    margin-right: 6px;    
}

.footer-social a:hover{
    filter: sepia(10);
}